body {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}



/** bg color **/
.bg-offWhite {
    background-color: #eee;
}

.pt40 {
    padding-top: 40px;
}
.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}
.topbar {
    background-color: #fff;
}

.topbar ul {
    margin: 0px;;
    padding: 0px;
}

.topbar ul li {
    line-height: 80px;
}

.topbar ul li.active {
    font-weight: 600;
    color: #E64A19;
    cursor: pointer;
}

.topbar ul li:hover {
    color: #E64A19;
    cursor: pointer;
}

.topbar h1 {
    padding: 0px;
    margin: 0px;
    line-height: 80px;
    font-size: 24px;
    font-weight: 600;
}

.banner {
    min-height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.wrap {
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bannerhead {
    margin-top: 220px;
    text-align: center;
}

.bannerhead h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 45px;
}

.bh-button {
    line-height: 50px;
    font-size: 24px;
    padding: 10px 25px;
    margin-right: 12px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.bh-button:hover {
    color: #222;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.btn-close {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-close:hover, .btn-close:focus, .btn-close:active, .btn-close.active, .open .dropdown-toggle.btn-close {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-close:active, .btn-close.active, .open .dropdown-toggle.btn-close {
    background-image: none;
}

.btn-close.disabled, .btn-close[disabled], fieldset[disabled] .btn-close, .btn-close.disabled:hover, .btn-close[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-close.disabled:focus, .btn-close[disabled]:focus, fieldset[disabled] .btn-close:focus, .btn-close.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-close:active, .btn-close.disabled.active, .btn-close[disabled].active, fieldset[disabled] .btn-close.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #E64A19;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #E64A19;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}


/** Sections **/
.section {
    padding-top: 60px;
    /*padding-bottom: 60px;*/
    border-bottom: 1px solid #ddd;
}

h1.section-title {
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 20px;
}

div.section-description {
    color: #666;
    font-weight: 300 !important;
    line-height: 36px;
}

.parallaxtext {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    margin-top: 90px;
}

#parallax1 {
    min-height: 470px;
    background-image: url(../img/parallax1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#parallax2 {
    min-height: 470px;
    background-image: url(../img/parallax2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/** services **/

.services {
    margin-top: 30px;
}

.service {
    margin-top: 70px;
}

.service i {
    color: #E64A19;
}
.service h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.service p {
    font-size: 16px;
    line-height: 30px;
    color: #555;
}

/** team **/
#team {
    background-color: #eeeeee;
}

.teams {
    /*margin-top: 30px;*/
}

.team {
    margin-top: 70px;
}

.team img {
}
.team h2 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #E64A19;
}

.team p {
    font-size: 15px;
    line-height: 30px;
    color: #555;
    text-align: center;
}

.team p.social {
    margin-top: 40px;
}

/** experiences **/
.exp {
    margin-top: 100px;
}
.exp-number {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 5px solid #666;
    margin: auto;
    text-align: center;
    line-height: 150px;
    font-size: 55px;
    color: #666;
}

.exp-heading {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

/** Testimonials **/
.clients-say .img {
    height: 120px;
    width: 120px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.clients-say h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF5722;
}

/** Portfolio **/
.portfolio ul {
    list-style: none;
    text-align: center;
}

.portfolio ul li {
    display: inline-block;
    background: transparent;
    margin-left: 5px;
    margin-bottom: 10px;
}

.portfolio ul [class*=fa] {
    margin-right: 5px;
}

.portfolio ul [class*=fa-check] {
    position: relative;
    left: 1px;
}

.portfolio ul li a {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.portfolio ul li a, .portfolio ul li a:active {
    background: transparent;
    color: #626262;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
}

.portfolio ul li a:focus, .portfolio ul li a:active, .portfolio ul li.active a, .portfolio ul li:hover a {
    background-color: #525252;
    color: #ffffff;
}

.filter-results {
    margin-top: 20px;
    margin-bottom: 15px;
    display: none;
    font-weight: 400;
}

.filter-results span {
    color: #626262;
}

/**/
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

/**/
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
.img-centered {
    margin: 0px auto;
}

/** Blog **/
.post {
    padding: 5px 5px 40px;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.blog-list .post:nth-child(2n) {
    background: #f3f3f3;
}

.post-header {
    text-align: center;
}

.post-title {
    margin: 0;
}

.post-header, .post-media, .post-content {
    margin-bottom: 40px;
}

.post-header, .post-content, .post footer {
    padding: 0 20px;
}
.post footer {
    background-color: transparent;
}

.read-more, .read-more:hover, .read-more:active, .read-more:focus {
    padding: 10px 0;
    text-decoration: none;
    color: #7A7C7F;
    line-height: 24px;
}

.read-more {
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
}

.read-more:hover {
    padding-left: 7px;
}

.read-more:after {
    content: '\f054';
    padding-left: 15px;
    font-family: 'FontAwesome';
    font-size: 24px;
    line-height: 24px;
    color: #5CC9DF;
    vertical-align: middle;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
}

.read-more:hover:after {
    padding-left: 20px;
}

.read-more.loading {
    padding-left: 7px;
}

.read-more.loading:after {
    display: inline-block;
    content: '\f110';
    padding-left: 0;
    margin-left: 20px;
    transition: none;
    -webkit-animation: spinit 2s infinite linear;
    -moz-animation: spinit 2s infinite linear;
    -o-animation: spinit 2s infinite linear;
    animation: spinit 2s infinite linear;
}

@-moz-keyframes spinit {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spinit {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spinit {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@-ms-keyframes spinit {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(359deg);
    }
}
@keyframes spinit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}


/* Contact */
section#contact {
    /*background-color: #222;
    background-image: url(../img/map-image.png);
     background-position: center;
     background-repeat: no-repeat;*/
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

/** Footer **/
footer {
    padding: 25px 0;
    background-color: #222;
    color: #fff;
}

footer .copyright {
    text-transform: uppercase;
    text-transform: none;
}
footer .copyright a {
    color: #fff;
}

ul.social-buttons {
    margin-top: 20px;
}

ul.social-buttons li a {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #E64A19;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #3CB29D;
}
